frontend/build
.pytest_cache

*.csv
*.json
*.pkl
*.html
*.bin
*.png
*.svg

*.pyc
/__pycache__/
/data
src/backend/xaiploit.egg-info/
xaiploit.egg-info/
xaiploit/notebooks/graphs
notebooks/graphs/
cc.en.300.bin.gz
models/checkpoint.pth.tar
